nav {
    background-color: aliceblue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav a {
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 20px;
    
}
nav a:hover {
    color: rgb(247, 83, 83);    
}