.review-container img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.review-container {
    display: flex;
    border: 1px solid saddlebrown;
    margin: 5px;
    padding: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    
        
}
