.home-conatainer img {
    width: 30%;
    padding: 2%;
    
}
.text-conatainer {
    width: 40%;    
}
.text-conatainer h1{
    font-size: 3.5em;
    font-family: ui-monospace;
    
  }

.home-conatainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-live-demo {
    padding: 15px 30px;
    border: none;
    background-color: aquamarine;   
}

.btn-r {    
        text-decoration: none;        
        color: white;        
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
