.home-conatainer img {
    width: 30%;
    padding: 2%;
    
}
.text-conatainer {
    width: 40%;    
}
.text-conatainer h1{
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 800;   
    
  }

.home-conatainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-live-demo {
    padding: 15px 30px;
    border: none;
    background-color: aquamarine;   
}

.btn-r {    
        text-decoration: none;        
        color: white;        
}


.btn-cta {
    padding: 15px 20px !important;
    margin-top: 40px;
}
